/* ================== GENERAL ============================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 1rem;
}
p {
  line-height: 1.5;
}
body {
  background: #efefef;
  font-size: 16px;
}
a {
  text-align: center;
  text-decoration: none;
}
.cta_button {
  padding: 15px 50px;
}
.readmore_button {
  background: #4893cb;
  padding: 10px 25px;
  color: #ffffff;
}
span {
  color: white;
}
fieldset {
  width: 75vw;
  margin: 20px auto;
  text-align: center;
  border: 0;
  border-image: url(../assets/Border-BG.jpg) 50 repeat;
  border-top: 15px solid transparent;
}
legend {
  padding: 0 20px;
}
/* hr {
  background: url(../assets/Border-BG.jpg);
  height: 20px;
  transform: rotateX(180deg);
} */
/* ================== HEADER =============================== */
header {
  background: black;
  align-items: center;
  display: flex;
  flex-direction: column;

  /* color: #404040; */
}
#border_header {
  border-bottom: 10px solid transparent;
  border-image: url(../assets/Border-BG.jpg) 50 repeat;
}

.header_container {
  display: flex;
  /* justify-content: center; */
  color: #474747;
}
.header_container a {
  color: white;
  background: #4893cb;
  align-self: flex-start;
}
.header_picture img {
  width: 30vw;
}
.header_catcher {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-around;
}

.header_cta {
  width: 75vw;
  /* margin: 0 auto; */
  display: flex;
  /* justify-content: center; */
  background: #4893cb;
  padding: 15px 5vw;
  align-items: center;
  position: relative;
}
.header_cta::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid #4893cb;
  border-right: 3vw solid transparent;
}
.header_cta a {
  background: #ffffff;
  margin-left: auto;
  color: #474747;
}

/* =================================== FEATURES ============================== */
.features_container {
  margin: 5vw auto;
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  justify-content: center;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 2vw 10px;
  width: 200px;
  height: 350px;
}
.feature:hover {
  background: white;
  position: relative;
}
.feature:hover::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid white;
  border-right: 3vw solid transparent;
}

.feature span {
  color: #474747;
}
.feature_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #474747;
  border-radius: 50%;
  margin: 0 auto;
}
.fas {
  font-size: 1.5rem;
  color: white;
}
/* ======================= RECENT WORK =========================== */

.recent_work {
  background: #efefef;
  margin: auto;
  text-align: center;
  width: 15vw;
}
.recent_work_container {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 5vw;
}
.recent_work_box {
  width: 300px;
  /* background: white; */
}
.recent_work_img img {
  width: 100%;
  display: block;
}
.recent_work_txt {
  background: white;
  position: relative;
  padding: 15px 20px 30px 15px;
}
.recent_work_txt::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid white;
  border-right: 3vw solid transparent;
}
/* ============================== TESTIMONIALS CONTAINER ==================== */

.fieldset_testimonials {
  width: 49.5vw;
  grid-area: title-testimonials;
}
.fieldset_development {
  width: 23.5vw;
  grid-area: title-development;
}

.testimonials_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  grid-area: testimonials;
}
.testimonial_box {
  position: relative;
  width: 24vw;
  background: white;
  padding: 15px 20px 30px 15px;
  margin-bottom: 5vw;
}
.testimonial_box::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid white;
  border-right: 3vw solid transparent;
}
.development_container {
  grid-area: development;
}
/* .button_test {
  display: flex;
  justify-content: flex-end;
} */

.development_box {
  width: 23.5vw;
  padding: 15px 20px 30px 15px;
  background: white;
}
.development_box a {
  margin-left: 45%;
}
.development_box p {
  margin-bottom: 40%;
}
/* ======================= GRID STYLE ======================== */
.grid_container {
  display: grid;
  width: 75vw;
  margin: auto;
  grid-gap: 1.5vw;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "title-testimonials title-development"
    "testimonials development";
}
