/* ================== GENERAL ============================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 150%;
  font-weight: 200;
}
h2 {
  font-size: 1rem;
  font-weight: 100;
}
h4 {
  color: white;
  font-weight: 200;
}
p {
  line-height: 1.5;
  color: #474747;
}
body {
  background: #efefef;
  font-size: 16px;
}
a {
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.cta_button {
  padding: 10px 45px;
  border-bottom: 1px outset #474647;
}
.readmore_button {
  background: #4893cb;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 12px;
  border-bottom: 1px outset #474647;
}
span {
  color: white;
  font-weight: bold;
}
fieldset {
  width: 75vw;
  margin: 20px auto;
  text-align: center;
  border: 0;
  border-image: url(../assets/Border-BG.jpg) 50 repeat;
  border-top: 15px solid transparent;
}
legend {
  padding: 0 20px;
}
/* hr {
  background: url(../assets/Border-BG.jpg);
  height: 20px;
  transform: rotateX(180deg);
} */
/* ================== HEADER =============================== */
header {
  background: #343434;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 33vw;

  /* color: #404040; */
}
#border_header {
  border-bottom: 10px solid transparent;
  border-image: url(../assets/Border-BG.jpg) 50 repeat;
}

.header_container {
  display: flex;
  /* justify-content: center; */
  margin-bottom: auto;
}
.header_container a {
  color: white;
  background: #4893cb;
  align-self: flex-start;
}
.header_picture img {
  width: 40vw;
}
.header_catcher {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-around;
}
.header_catcher h1,
.header_catcher p {
  color: #898989;
}

.header_cta {
  width: 75vw;
  /* margin: 0 auto; */
  display: flex;
  /* justify-content: center; */
  background: #4893cb;
  color: white;
  padding: 15px 5vw;
  align-items: center;
  position: relative;
}
.header_cta::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid #4893cb;
  border-right: 3vw solid transparent;
}
.header_cta a {
  background: #ffffff;
  margin-left: auto;
  color: #474747;
}

/* =================================== FEATURES ============================== */
.features_container {
  margin: 5vw auto;
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 2vw 10px;
  width: 250px;
  height: 400px;
  padding: 20px 0;
}
.feature:hover {
  background: white;
  position: relative;
  box-shadow: 65px 0px 65px -70px rgba(0, 0, 0, 0.6);
}
.feature:hover .feature_icon {
  background: #4893cb;
}
.feature:hover a {
  visibility: hidden;
}
.feature:hover::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid white;
  border-right: 3vw solid transparent;
}

.feature span,
.feature h2 {
  color: #474747;
}
.feature_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: radial-gradient(gray, #474647);
  border-radius: 50%;
  margin: 0 auto;
}
.fas {
  font-size: 1.5rem;
  color: white;
}
/* ======================= RECENT WORK =========================== */

.recent_work {
  background: #efefef;
  margin: auto;
  text-align: center;
  width: 15vw;
}
.recent_work_container {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 5%;
}
.recent_work_box {
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 65px 0px 65px -70px rgba(0, 0, 0, 0.6);
  /* background: white; */
}
.recent_work_img img {
  width: 100%;
  display: block;
}
.recent_work_txt {
  background: white;
  position: relative;
  padding: 15px 20px 30px 15px;
}
.recent_work_txt::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid white;
  border-right: 3vw solid transparent;
}
/* ============================== TESTIMONIALS CONTAINER ==================== */

.fieldset_testimonials {
  width: 49.5vw;
  grid-area: title-testimonials;
}
.fieldset_development {
  width: 23.5vw;
  grid-area: title-development;
}

.testimonials_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  grid-area: testimonials;
}
.testimonial_box {
  position: relative;
  width: 300px;
  background: white;
  padding: 15px 20px 30px 15px;
  margin-bottom: 10%;
  box-shadow: 65px 0px 65px -70px rgba(0, 0, 0, 0.6);
}
.testimonial_box::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid white;
  border-right: 3vw solid transparent;
}

/* =======================  DEVELOPMENT STYLE =================== */
.development_container {
  grid-area: development;
}
.development_tabs {
  position: relative;
  clear: both;
  margin: auto;
  width: 300px;
}
.design_tab,
.production_tab {
  float: left;
  margin-top: 20px;
}
.design_tab label,
.production_tab label {
  background: #d0d0d0;
  padding: 20px 15px;
  color: #474747;
}
.tab_content {
  position: absolute;
  background: white;
  left: 0px;
  width: 100%;
  margin-top: 20px;
  padding: 15px 20px 30px 15px;
  box-shadow: 65px 0px 65px -70px rgba(0, 0, 0, 0.6);
}
.tab_content p {
  margin-bottom: 21%;
}
.tab_content a {
  float: right;
}
.checkboxtab {
  display: none;
}
.checkboxtab:checked ~ label {
  color: #474747;
  font-weight: bold;
  background: white;
  box-shadow: 65px 0px 65px -70px rgba(0, 0, 0, 0.6);
}
.checkboxtab:checked ~ .tab_content {
  z-index: 1;
}
/* .button_test {
  display: flex;
  justify-content: flex-end;
} */

/* .development_box {
  width: 23.5vw;
  padding: 15px 20px 30px 15px;
  background: white;
}
.development_box a {
  margin-left: 45%;
}
.development_box p {
  margin-bottom: 43%;
} */
/* ======================= DEVELOPMENT GRID STYLE ======================== */
.grid_container {
  display: grid;
  width: 75vw;
  margin: auto;
  grid-column-gap: 25px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "title-testimonials title-development"
    "testimonials development";
}
/* ===================== FOOTER CTA ========================== */
.footer_cta {
  width: 75vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  background: #4893cb;
  color: white;
  padding: 15px 5vw;
  align-items: center;
  position: relative;
}
.footer_cta::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 3vw solid #4893cb;
  border-right: 3vw solid transparent;
}
.footer_cta a {
  background: #ffffff;
  margin-left: auto;
  color: #474747;
}
.footer_information_container {
  background: #3f3f3f;
  padding-top: 5%;
  padding-bottom: 1%;
}
.footer_information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75vw;
  margin: auto;
}
.information {
  width: 235px;
  padding-right: 10px;
}
.information p,
address {
  color: gray;
}
.footer_information h4 {
  margin-bottom: 5%;
}
.aboutus p,
.latesttweets p {
  margin-bottom: 20px;
}
.latestposts p {
  margin-bottom: 10px;
}
hr {
  border: 2px inset #474747;
}
/* ================================= FLICKR GRID ================================== */
.flickr {
  padding: 0;
}
.flickrbox {
  width: 55px;
  height: 55px;
  background: #252525;
}
.flickr_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  /* justify-content: space-between; */
}
/* ================================ FOOTER LINKS ================================= */
footer p {
  color: #898989;
}
.footer_links {
  background: #343434;
  display: flex;
  height: 7vw;
  margin: auto;
}
.links_container {
  display: flex;
  width: 75vw;
  margin: auto;
}
.links_container p {
  margin-right: auto;
}

.links_icons {
  display: flex;
  width: 235px;
  font-size: 2rem;
  justify-content: space-around;
  color: #252525;
}
.fab {
  position: relative;
}
.fab .tooltip {
  visibility: hidden;
  width: 70px;
  background-color: gray;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  padding: 8px 0;
  position: absolute;
  /* z-index: 1; */
  top: -45px;
  left: 50%;
}
.tooltip::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 0.7vw solid gray;
  border-right: 0.7vw solid transparent;
}
.fab:hover .tooltip {
  visibility: visible;
}
.fab:hover {
  color: white;
}
.fa-arrow-up {
  font-size: 2rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background: #252525;
  color: #343434;
}
